* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #1c1c26 !important;
}

.container {
  width: 200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  position: relative;
  top: 5rem;
  border: solid #6d6d77;
}

h1 {
  text-align: center;
}

form {
  background-color: #1c1c26;
  border-radius: 10px;
  padding: 20px;
  color: #ccc;
}

h2 {
  margin-top: 20px;
}

.category {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.category input[type="text"] {
  flex: 1;
  margin-right: 10px;
  padding: 5px;
  border: none;
  border-bottom: 2px solid #ccc;
}

.category input[type="color"] {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  margin-right: 10px;
}

.category .delete {
  background-color: #ff6961;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.add-category {
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.notification {
  margin-top: 10px;
}

button[type="submit"] {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

#heading {
  color: azure;
}
